:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

[md-line] {
  display: flex;
}

.device-subtitle {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}
