<md-card>
  <md-card-subtitle>More devices === more pandas</md-card-subtitle>
  <md-card-title>Add Device</md-card-title>
  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="form.valid && onAdd(form.value)">
      <md-input formControlName="name" placeholder="Device Name" type="text" [max]="256"></md-input>
      <md-input-container>
        <input md-input type="number" [step]="1" formControlName="killowats" placeholder="Killowats (hrs)" />
      </md-input-container>
      <md-input formControlName="type" placeholder="type" type="text"></md-input>
      <md-dialog-actions>
        <button color="success" type="submit" md-button>Add</button>
        <button type="button" md-button (click)="onCancel()">Cancel</button>
      </md-dialog-actions>
    </form>
  </md-card-content>
</md-card>
