form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

md-dialog-actions {
  display: flex;
}

md-input-container {
  margin: 10px 0;
}

md-select {
  margin: 10px 0;
}
