<h2 md-dialog-title>
  More devices === more pandas</h2>
<h1 md-dialog-title>Add Device</h1>
<md-dialog-content>
  <form [formGroup]="form">
    <md-input-container>
      <input md-input formControlName="name" placeholder="Device Name" type="text" [max]="256" />
    </md-input-container>
    <md-input-container>
      <input md-input type="number" [step]="1" formControlName="killowats" placeholder="Killowats (hrs)" />
    </md-input-container>
    <md-select placeholder="Device Type" formControlName="type">
      <md-option [value]="'FRIDGE'">
        Refrigerator
      </md-option>
      <md-option [value]="'FREEZER'">
        Freezer
      </md-option>
      <md-option [value]="'LIGHTS'">
        House Lighting
      </md-option>
      <md-option [value]="'AIR_CONDITIONER'">
        Air Conditioner
      </md-option>
      <md-option [value]="'ELECTRIC_OVEN'">
        Electric Oven
      </md-option>
      <md-option [value]="'WASHING_MACHINE'">
        Washing Machine
      </md-option>
      <md-option [value]="'DRYER'">
        Dryer
      </md-option>
    </md-select>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button color="primary" (click)="form.valid && onAdd(form.value)" md-raised-button>Add</button>
  <span class="spacer"></span>
  <button type="button" md-button (click)="onCancel()">Cancel</button>
</md-dialog-actions>
