<md-card>
  <md-card-subtitle class="device-subtitle">
    Select Devices to save the pandas
  </md-card-subtitle>
  <md-card-title>Devices</md-card-title>
  <md-card-content>
    <md-list>
      <h3 md-subheader>Items slected potential {{potential | async}} kw/h</h3>
      <md-list-item *ngFor="let device of devices | async">
        <md-slide-toggle (change)="onSelect($event.checked, device.id)">
          {{device.name}}
        </md-slide-toggle>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="onSave()" [disabled]="saving | async">Submit Devices</button>
  </md-card-actions>
  <md-card-footer>
    <md-progress-bar mode="indeterminate" *ngIf="saving | async" color="accent"></md-progress-bar>
  </md-card-footer>
</md-card>
